* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

main {
    background-color: aquamarine;
    height: calc(100vh - 180px);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 80px;
}

.menu {
    display: flex;
    gap: 10px;
    height: fit-content;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}

.square {
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.square.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.square.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.square.highlighted {
    background-color: #0d6efd;
    color: white;
}


